/TechZone.Ecommerce/TechZone.Ecommerce.Domain/obj
/TechZone.Ecommerce/TechZone.Ecommerce.DTOs/obj
/TechZone.Ecommerce/TechZone.Ecommerce.Infrastructure/obj
/TechZone.Ecommerce/TechZone.Ecommerce.Interfaces/obj
/TechZone.Ecommerce/TechZone.Ecommerce.Persistence/obj
/TechZone.Ecommerce/TechZone.Ecommerce.Transversal/obj
/TechZone.Ecommerce/TechZone.Ecommerce.UseCases/obj
/TechZone.Ecommerce/TechZone.Ecommerce.WebApi/obj
