/TechZone.Ecommerce/TechZone.Ecommerce.Domain/obj
/TechZone.Ecommerce/TechZone.Ecommerce.DTOs/obj
/TechZone.Ecommerce/TechZone.Ecommerce.Infrastructure/obj
/TechZone.Ecommerce/TechZone.Ecommerce.Interfaces/obj
/TechZone.Ecommerce/TechZone.Ecommerce.Persistence/obj
/TechZone.Ecommerce/TechZone.Ecommerce.Transversal/obj
/TechZone.Ecommerce/TechZone.Ecommerce.UseCases/obj
/TechZone.Ecommerce/TechZone.Ecommerce.WebApi/obj
TechZone.Ecommerce/TechZone.Ecommerce.WebApi/appsettings.json
/TechZone.Ecommerce/.vs
/TechZone.Ecommerce/TechZone.Ecommerce.Test.UsesCases/bin
/TechZone.Ecommerce/TechZone.Ecommerce.Test.UsesCases/obj
